---
layout: default
---

<h1>Research</h1>

{% for item in page.items %}
  <div class="columns">
    <div class="column col-12">
      <a href="#{{ item.id }}">
        <h2 id="{{ item.id }}" class="theme-title">
          {{ item.title }}
        </h2>
      </a>
    </div>
    <div class="column col-6 col-md-12">
      <div>{{ item.content }}</div>
      {% if item.publications %}
        <br>
        <div>
          <a href="/publications#{{ item.publications }}"
             class="btn btn-sm btn-default">
            View publications
          </a>
        </div>
      {% endif %}
    </div>

    <div class="column col-6 col-md-12">
      <img class="img-responsive theme-image" src="{{ item.image }}" alt="">
    </div>
  </div>

  <div class="project-section-divider divider" data-content="PROJECTS"></div>

  <div class="columns project-container">
    {% for project in item.projects %}
      <div class="column col-6 col-md-12">
        <div class="card project-entry">
          <div class="card-header">
            <h6 class="project-title">
              {% if project.url %}
                <a href="{{ project.url }}">{% if project.commit %}<i class="fa fa-github-alt"></i> / {% endif %}{{ project.title }}</a>
              {% else %}
                {{ project.title }}
              {% endif %}
            </h6>
          </div>
          <div class="card-body project-description">
            {{ project.description }}
          </div>
          {% if project.commit %}
            <div class="card-footer">
              <small class="label">
                Updated by
                {% if project.commit.author_url %}
                  <a href="{{ project.commit.author_url }}">
                    {{ project.commit.author }}
                  </a>
                {% else %}
                  {{ project.commit.author }}
                {% endif %}
                on
                <a href="{{ project.commit.url }}">
                  {{ project.commit.date }}
                </a>
              </small>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}

<div class="columns">
    <div class="column col-12">
      <a href="#01-forecasting">
        <h2 id="01-forecasting" class="theme-title">
          Voice Forensic
        </h2>
      </a>
    </div>
    <div class="column col-6 col-md-12">
      <div><p>Our team is working to develop forensic methods and tools.</p>
</div>
      
        <br>
        <div>
          <a href="/publications#keywords=forecasting" class="btn btn-sm btn-default">
            View publications
          </a>
        </div>
      
    </div>

    <div class="column col-6 col-md-12">
      <img class="img-responsive theme-image" src="/images/research/map-all-narrow-zoom.jpg" alt="">
    </div>
  </div>

<div class="project-section-divider divider" data-content="PROJECTS"></div>

<div class="columns project-container">
    
      <div class="column col-6 col-md-12">
        <div class="card project-entry">
          <div class="card-header">
            <h6 class="project-title">
              
                <a href="https://github.com/voxstructor/voxstructor"><i class="fa fa-github-alt"></i> / voxstructor</a>
              
            </h6>
          </div>
          <div class="card-body project-description">
            Projections of Voxstructor
          </div>
          
            <div class="card-footer">
              <small class="label">
                Updated by
                
                  <a href="https://github.com/invalid-email-address">
                    Github Actions CI
                  </a>
                
                on
                <a href="https://github.com/voxstructor/voxstructor/commit/main">
                  Nov 25, 2021
                </a>
              </small>
            </div>
          
        </div>
      </div>
    
      
    
  </div>
